@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world! by @hostname</h1>

Welcome to your new app.

@code {
    private string hostname = "noname";

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        hostname = System.Environment.MachineName;
    }
}