@page "/"

<PageTitle>SansaXR</PageTitle>

<h1>ようこそ SansaXR へ！</h1>

 現在、バックエンドサーバ @hostname に接続しています。

@code {
    private string hostname = "noname";

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        hostname = System.Environment.MachineName;
    }
}