<h3>言語を選択</h3>


@code {
    private string selectedLanguage = "ja-JP";

    private void SwitchLanguage()
    {
        Console.WriteLine($"Switching language to {selectedLanguage}");
        // ここで言語切替処理を行います
    }
}
