@using Blazored.Modal
@using Blazored.Modal.Services
@using Portal.Components.Pages
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<CascadingBlazoredModal />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="nav-link" @onclick="ShowLanguageSwitchModal" style="cursor: pointer;">
                <span class="oi oi-globe" aria-hidden="true"></span>言語切替
            </a>
            <a class="nav-link" @onclick="ShowLoginModal" style="cursor: pointer;">
                <span class="oi oi-account-login" aria-hidden="true"></span>Login/SignUp
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    @inject IModalService ModalService;

    private async Task ShowLanguageSwitchModal()
    {
        var result = await ModalService.Show<LanguageSwitchModal>("言語を選択").Result;

        if (!result.Cancelled)
        {
            // 認証成功後の処理
        }
    }

    private async Task ShowLoginModal()
    {
        var result = await ModalService.Show<LoginModal>("ログイン").Result;

        if (!result.Cancelled)
        {
            // 認証成功後の処理
        }
    }
}
